@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
body{
    height: 100vh;
    background:linear-gradient(to top,black,gray) ;
}
header{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
header h1{
    color: white;
}
main{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#cal{
    height: 300px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.658);
    border-radius: 5px;
    display: flex;
    justify-content: center;
}
#res{
    background-color: rgb(58, 55, 51);
    height: 40px;
    margin-top: 20px;
    width: 80%;
}