@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
body{
    height: 100vh;
    background:linear-gradient(to top,black,gray) ;
}
header{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
header h1{
    color: white;
}
main{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#cal{
    height: 350px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.658);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#res{
    margin: auto;
    background-color: rgb(58, 55, 51);
    height: 80px;
    width: 170px;
    margin-top: 10px;
}
.cont_botao{
    margin: 10px;
    height: 60px;
    display: flex;
    justify-content: space-around;
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    height: 40px;
    width: 40px;
    padding: 10px;
    background:linear-gradient(to top,black,gray) ;
    color: white;
}